@import "compass/css3";
@import "mixin/variables";

//基本設定
@import "base/grid.min";
@import "base/reset";
@import "base/icons";
@import "base/layout";
@import "base/form";
@import "base/pagination";
@import "base/table";

//共用模組
@import "module/header";
@import "module/breadcrumbs";
@import "module/banner";
@import "module/footer";


//頁面單獨樣式
@import "page/search";
@import "page/index";
@import "page/product";
@import "page/category";
@import "page/keyword";
@import "page/404";

//abtest
//@import "abtest/search";
@import "abtest/index";