.index-bg{
	background-color: $gray-lightest;
}
.cate-list{
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
	width: 200px;
	.sub-menu-parent{
		position: relative;
	}
	.all-cate-title{
		margin: 0;
		background-color: $orange-light;
		a{
			display: block;
			padding: 10px 12px;
			font-size: $font-size-xlarge;
    		font-weight: bold;
			color: $white;
			&:before{
				float: right;
				margin: 2px 0 0 0;
				color: $white;
				font-size: 19px;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
	.sub-menu{
		position: absolute;
	    top: 100%;
	    left: 0;
	    width: 100%;
			visibility: hidden;
	    opacity: 0;
	    transform: translateY(-2em);
	    @include transition(all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s);
	}
	.sub-menu-parent:hover .sub-menu{
		visibility: visible;
		opacity: 1;
		transform: translateY(0%);
		transition-delay: 0s, 0s, 0.3s;
		z-index: 5;
	}
	.sub-menu-parent:hover .all-cate-title{
		background-color: $orange;
	}
	.sub-menu{
		padding: 0;
		@include box-shadow(rgba(0,0,0,0.05) 0px 1px 4px);
		li>a{
			display: block;
			padding: 10px;
			color: $gray;
			background-color: $white;
			border-bottom: 1px solid $gray-lighter;
			border-left: 1px solid $gray-lighter;
			border-right: 1px solid $gray-lighter;
			&:hover{
				text-decoration: none;
				color: $orange-light;
			}
			&:before{
				float: left;
				padding: 0 10px 0 0;
				font-size: 20px;
			}
		}
	}
}
.index-hotkw{
	margin: 0;
	padding: 0;
	max-height: 195px;
	overflow: hidden;
	padding: 5px;
  text-align: justify;
	>li{
		// float: left;
		display: inline-block;
    margin: 2px 0px;
		a{
			display: inline-block;
			line-height: normal;
			font-size: $font-size-small;
			color: $gray-light;
	    padding: 3px 8px;
	    transition: 0.2s all ease-in-out;
	    border-radius: 10px;
			&:hover{
				background: $red;
		    color: $white;
		    text-decoration: none;
			}
		}
	}
}
.index-title{
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid $gray-lighter;
	background-color: $white;
	font-size: $font-size-xlarge;
	color: $orange-light;
	h1 {
		display: inline;
	}
}
.spec-area{
	margin: 15px 0px;
	.spec-pd{
		position: relative;
		float: left;
		width: 20%;
		padding: 15px;
		text-align: center;
		.pd-img{
			display: inline-block;
		    width: 200px;
		    height: 200px;
		    overflow: hidden;
		    line-height: 200px;
		    img{
		    	max-width: 100%;
		    }
		}
		.pd-name{
			display: block;
		    margin: 10px 0 0 0;
		    height: 38px;
		    overflow: hidden;
		    text-align: left;
		}
		.pd-price{
			display: block;
			font-size: $font-size-xlarge;
		    font-family: $font-family-price;
		    font-weight: normal;
		    color: $orange-light;
		    text-align: left;
		    .ori-price{
		    	display: inline-block;
		    	padding: 0 5px 0 0;
		    	color: $gray;
		    	font-size: $font-size-base;
		    	text-decoration: line-through;
		    }
		}
		.click-num{
			display: block;
			margin: 5px 0 0 0;
			text-align: left;
			font-size: $font-size-small;
			strong{
				color: $red;
				font-family: $font-family-price;
			}
		}
		.discount{
			position: absolute;
			top: 15px;
			left: 10px;
			&:before{
				position: absolute;
			    top: -26px;
			    left: -14px;
			    font-size: 80px;
			    color: $orange-light;
			}
			span{
				position: absolute;
			    top: 3px;
			    display: inline-block;
			    width: 37px;
			    color: #ffffff;   
			}
		}
	}
}
.more-link{
	position: absolute;
	right: 13px;
	top: 15px;
	&:before{
		float: right;
		margin: 3px 0 0 0;
  		font-weight: bold;
	}
}
.atcl-area{
	position: relative;
	margin-top: 15px;
	.atcl-left{
		position: relative;
		float: left;
		padding: 15px;
		width: 50%;
		.atcl-img{
			position: relative;
			display: inline-block;
		    width: 100%;
		    height: 372px;
		    overflow: hidden;
		    img{
		    	max-width: 100%;
		    }
		}
		.atcl-title{
			display: inline-block;
			margin: 5px 0;
			height: 22px;
			max-height: 22px;
			overflow: hidden;
			text-align: justify;
			font-size: $font-size-large;
			font-weight: 500;
		}
		.atcl-count{
			position: absolute;
			bottom: 2px;
    		left: 30px;
			color: $white;
			&:before{
				position: absolute;
				top: 1px;
			    left: -20px;
				display: inline-block;
				font-size: 16px;
			}
		}
		.count-bg{
			position: absolute;
		    bottom: 0px;
		    left: 0px;
		    display: inline-block;
		    width: 100%;
		    height: 24px;
		    background-color: rgba(30, 36, 48, 0.4);
		    @include box-shadow(0 0 6px 3px rgba(30, 36, 48, 0.4));
		}
	}
	.atcl-right{
		float: left;
		width: 24.9%;
		padding: 15px 15px 0 0;
		.atcl-img{
			position: relative;
			display: inline-block;
		    width: 100%;
		    height: 165px;
		    overflow: hidden;
		    img{
		    	max-width: 100%;
		    }
		}
		.atcl-title{
			display: inline-block;
			margin: 5px 0;
			height: 36px;
			max-height: 36px;
			overflow: hidden;
			text-align: justify;
			font-size: $font-size-base;
			font-weight: 500;
		}
		.atcl-count{
			position: absolute;
			bottom: 2px;
    		left: 30px;
			color: $white;
			&:before{
				position: absolute;
				top: 1px;
			    left: -20px;
				display: inline-block;
				font-size: 16px;
			}
		}
		.count-bg{
			position: absolute;
		    bottom: 0px;
		    left: 0px;
		    display: inline-block;
		    width: 100%;
		    height: 24px;
		    background-color: rgba(30, 36, 48, 0.4);
		    @include box-shadow(0 0 6px 3px rgba(30, 36, 48, 0.4));
		}
	}
	.atcl-content{
		margin: 8px 0 0 0;
		max-height: 38px;
    	overflow: hidden;
		color: $gray;
		text-align: justify;
	}

}
a.sev-area{
	display: inline-block;
	margin: 10px 0;
	width: 8.68%;
	text-align: center;
	color: $gray;
	text-decoration: none;
	&:hover,&:active{
		color: $orange-light;
		text-decoration: none;
	}
	span{
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		&:before{
			font-size: 30px;
		}
	}
	p{
		margin: 5px 0 0 0;
	}
}
a.block-area {
	display: block;
	img {
		max-width: 100%;
	}
}
.index-pd-card {
	width: 19%;
	float: left;
	// border: 1px solid $gray-light;
	box-sizing: border-box;
	margin: calc(5% / 10);
	.pd-link {
    display: block;
    padding: 10px;
    color: inherit;
    margin: 0 auto;
    transition: 0.5s all ease-out;
    outline: 1px solid $white;
    &:hover {
    	outline: 1px solid $orange;
	    background: $gray-lightest;
	    text-decoration: none;
    }
    img {
	    max-width: 90%;
	    margin: 0 auto;
	    display: block;
    }
	}
	.pd-name {
		overflow: hidden;
    height: 38px;
    display: block;
	}
	ol {
		padding: 0;
    color: $gray;
    margin-bottom: 0;
    .shop-name {
	    width: 60%;
	    // overflow: hidden;
	    // text-overflow: ellipsis;
	    // white-space: nowrap;
	    // display: block;
	    float: left;
	    line-height: 1.8;
    }
    .pd-price {
    	float: right;
	    color: $orange-light;
	    text-align: right;
	    &:before {
  	    content: "$";
		    font-size: 12px;
	    }
    }
	}
}
.ellipsis {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
