.btn{
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: none;
	white-space: nowrap;
	@include transition(all .2s ease-in-out);
}
.navbar-btn{
	float: left;
	margin: 0 0 0 -1px;
	width: 71px;
	height: 42px;
	background-color: $orange;
	border: 1px solid $orange;
	@include border-right-radius(2px);
	&:before{
		display: inline-block;
	    margin: 3px 0 0 0;
	    color: $white;
	    font-size: 30px;
	}
}
.toggle-btn{
	float: right;
	display: inline-block;
	margin: 10px 0;
	padding: 5px 7px;
	background-color: $gray-lightest;
	border: 1px solid $gray-lighter;
	color: $orange-light;
	@include border-radius(2px);
	&:hover{
		font-weight: 500;
		text-decoration: none;
		border: 1px solid $orange-light;
	}
	&:before{
		float: right;
		margin: 3px 0 0 3px;
		font-weight: bold;
	}
}
.more-btn{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0;
	line-height: 32px;
	background-color: #fff;
	font-size: $font-size-small;
	color: $gray;
	&:hover{
		color: $orange-light;
	}
	&:before{
		float: right;
	    margin: 10px 0px 0px 2px;
	    font-weight: bold;
	}
}
.sort-btn{
	float: left;
	padding: 10px;
	border-left: solid 1px #f5f5f5;
    border-right: solid 1px #f5f5f5;
	background-color: transparent;
	color: $gray-dark;
	&.first{
		border-left: none;
	}
	&.current-select,&:hover{
		background-color: $white;
		color: $orange-light;
		font-weight: 500;
		border-color: $gray-lighter;
	}
}
.submit-btn{
	margin: -3px 0 0 0;
    padding: 1px 8px;
	background-color: $white;
	font-size: $font-size-base;
	border: 1px solid $orange-light;
	@include border-radius(2px);
	color: $orange-light;
	&:hover,&:active,&:focus{
		background-color: $orange;
		border: 1px solid $orange;
		color: $white;
	}
}
.cancel-btn{
	margin: -3px 0 0 0;
    padding: 1px 8px;
    background-color: $white;
    font-size: $font-size-base;
	border: 1px solid $gray;
	@include border-radius(2px);
	color: $gray;
	&:hover,&:active,&:focus{
		background-color: $gray;
		color: $white;
	}
}
a.market-btn{
	position: absolute;
	right: 28px;
	bottom: 44px;
	z-index: 2;
	margin: 5px 0 0 0;
	padding: 6px 0px;
	min-width: 120px;
	border: 1px solid $orange-light;
	@include border-radius(2px);
	color: $orange-light;
	font-size: $font-size-base;
	span.btn-text{
		position: relative;
		display: inline-block;
	    margin: 0 0 0 -11px;
		&:before{
			position: absolute;
		    right: -17px;
		    top: 3px;
			font-weight: bold;
		}
	}
	&:hover{
		text-decoration: none;
		background-color: $orange-light;
		color: $white;
	}
	&:active,&:focus{
		background-color: $orange;
		border: 1px solid $orange;
		color: $white;
		@include box-shadow(rgba(0,0,0,0.1) 0px 1px 4px inset);
	}
}
a.see-all-btn{
	position: absolute;
	right: 30px;
	bottom: 45px;
	z-index: 2;
	margin: 5px 0 0 0;
	padding: 6px 0px;
	min-width: 120px;
	border: 1px solid $orange-light;
	@include border-radius(2px);
	background-color: $orange-light;
	color: $white;
	font-size: $font-size-base;
	span.btn-text{
		position: relative;
		display: inline-block;
	    margin: 0 0 0 -11px;
		&:before{
			position: absolute;
		    right: -17px;
		    top: 3px;
			font-weight: bold;
		}
	}
	&:hover{
		text-decoration: none;
		background-color: $orange;
	}
	&:active,&:focus{
		background-color: $orange;
		@include box-shadow(rgba(0,0,0,0.1) 0px 1px 4px inset);
	}
}
.load-btn{
	position: relative;
	margin: 20px 0;
	padding: 10px 0;
	width: 100%;
	background-color: $white;
	@include border-radius(2px);
	border: 1px solid $gray-lighter;
	@include box-shadow(rgba(0,0,0,0.04) 0px 1px 4px);
	&:hover,&:active,&:focus{
		color: $orange-light;
		border: 1px solid $orange-light;
		@include box-shadow(rgba(255,127,0,0.5) 0px 1px 4px);
	}
}
.price-input{
	display: inline-block;
	margin: 8px 0 0 0;
	width: 70px;
	border: 1px solid $gray;
	@include border-radius(2px);
	&.first{
		margin-left: 8px;
	}
	&:focus{
		border: 1px solid $orange-light;
	}
}
.email-input{
	margin: 10px 0;
	padding: 5px 10px;
	width: 292px;
}
textarea.feeback-text{
	margin: 0 0 10px 0;
	padding: 5px;
	width: 100%;
	height: 100px;
	resize : none;
	@include border-radius(2px);
	&:focus{
		border: 1px solid $orange-light;
	}
}
.control{
	position: relative;
	display: block;
	padding-left: 22px;
	font-family: $font-family-price;
	color: $gray;
	cursor: pointer;
	input{
		position: absolute;
		z-index: -1;
		opacity: 0;
		top: 0;
    	left: 0;
	}
}
.control-indicator{
	position: absolute;
	top: 8px;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid $gray;
	@include border-radius(2px);
	.control:hover input~&,.control input:focus~&{
		background-color: $gray-lighter;
	}
	.control input:checked~&{
		background-color: $orange-light;
		border: 1px solid $orange-light;
	}
	.control:hover input:not([disabled]):checked ~ &,.control input:checked:focus ~ &{
		background-color: $orange;
		border: 1px solid $orange;
	}
	&:after{
		content: "";
		position: absolute;
		display: none;
		.control input:checked~&{
			display: block;
		}
		.control-checkbox &{
			left: 5px;
			top: 2px;
			width: 5px;
			height: 9px;
			border: solid $white;
			border-width: 0 2px 2px 0;
			@include rotate(45deg);
		}
	}

}
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
.select{
	position: absolute;
	top: 2px;
	left: 2px;
	display: inline-block;
	width: 68px;
	height: 38px;
	cursor: pointer;

}
.select-styled{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 10px 0 0;
    text-align: center;
    line-height: 38px;
    background-color: $gray-lightest;
    border-right: 1px solid $gray-lighter;
    color: $orange;
    cursor: pointer;
    &:hover{
    	background-color: $gray-lighter;
    }
    &:after{
    	content: "";
	    width: 0;
	    height: 0;
	    border: 6px solid transparent;
	    border-color: $orange transparent transparent transparent;
	    position: absolute;
	    top: 16px;
	    right: 8px;
    }
    &:active,&.active{
    	&:after{
    		top: 9px;
    		border-color: transparent transparent $orange transparent;
    	}
    }
}
.select-options{
	display: none;
    position: absolute;
    top: 40px;
    right: 0;
    left: -2px;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $white;
	border: 1px solid $gray-lighter;
	border-top: transparent;
	li{
		padding: 9px 14px;
		cursor: pointer;
		&:hover{
			color: $orange-light;
			background-color: $gray-lightest;
		}
	}
}