$page-line-height: 1.25;
.pagination{
	margin: 30px 0 30px -15px;
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		li{
			// position: relative;
			display: inline-block;
			&:first-child {
				border-radius: 2px 0px 0px 2px;
			}

			&:last-child {
				border-radius: 0px 2px 2px 0px;
			}
			a,span{
				position: relative;
				display: block;
				padding: 0.75rem 1rem;
				margin-left: -1px;
				border: 1px solid $gray-lighter;
				line-height: $page-line-height;
				color: $gray;
				// @include border-radius(2px);
				&:hover{
					background-color: $gray-lighter;
					// border: 1px solid $orange-light;
					color: darken($gray,10%);
					text-decoration: none;
				}
			}
			&.next, &.prev {
				a {
					&:before {
						font-weight: bold;
						display: inline-block;
						line-height: $page-line-height;
						width: 1.5rem;
						height: 1.5rem;
					}
					// &:hover {
					// 	color: $white;
					// }
				}
			}
			&.next{
				margin-left: 1rem;
				a{
					// padding: 8px 10px 8px 13px;
					&:before{
						float: right;
  				// 	margin: 3px 0 0 3px;
					}
				}
			}
			&.prev{
				// margin-right: 1rem;
				a{
					// padding: 8px 13px 8px 10px;
					&:before{
						float: left;

  					// margin: 3px 3px 0 0;
					}
				}
			}
			&.active{
				span {
					background-color: $orange-light;
					border: 1px solid $orange-light;
					color: $white;
				}
			}
			&.dot{
				padding: 0 5px;
				color: $gray;
				margin-right: -1rem;
			}
			&.disabled{
				a{
					color: $gray-light;
					cursor: not-allowed;
					&:hover{
						color: $gray-light;
						background-color: $white;
						border: 1px solid $gray-lighter;
					}
				}
			}
			
		}
	}
}