ul.tabs-area{
	padding: 0;
	margin: -15px 0 0 0;
	text-align: center;
	border-bottom: 1px solid $gray-lighter;
	li{
		display: inline-block;
		padding: 0 6px;
		color: $gray-light;
		font-size: $font-size-xxlarge;
		cursor: pointer;
		&:first-child{
			margin: 0 50px 0 0;
		}
		&.active{
			border-bottom: 3px solid $orange-light;
			color: $orange-light;
		}
		&:hover{
			color: $orange-light;
		}
		.tab-keyword{
			display: inline-block;
			margin: 0;
			font-weight: bold;
		}
		.tab-pd{
			display: inline-block;
			margin: 0;
			padding: 0 0 4px 0;
			font-weight: bold;
		}
		.icon-keyword:before{
			display: inline-block;
			margin: -7px 8px 0px 0;
			font-size: 38px;
			vertical-align: middle;
		}
		.icon-recommend:before{
			display: inline-block;
			margin: -13px 8px 0px 0;
			font-size: 30px;
			vertical-align: middle;
		}
	}
}
